.form-application {
    min-height: 650px;
    width: 850px;
    font-size: 16px;
}

.logo {
    position: absolute;
    top: -70px;
    left: 0;
}


.logout-menu li {
    display: inline-block;
    border-left: 1px solid #000;
    padding-left: 4px;
}

.logout-menu li:first-child {
    border: 0;
}

.logout-menu {
    position: absolute;
    right: 20px;
    top: -30px;
}

.path-manager {
    border-bottom: 2px solid #999;
    padding-bottom: 15px;

}

.current-position-menu li {
    display: inline-block;
    padding-right: 4px;
    font-size: 22px;
    font-weight: bold;
}

.current-position-menu {
    float: left;
}

.button-menu {
    float: right;
}

.path-manager:after {

    display: block;
    clear: both;
    content: "";

}

.logout {
    color: rgb(102, 175, 233);
}

.folder-name {
    color: rgb(102, 175, 233);
    width: 600px;
}

.folder-icon {
    width: 40px;
    font-size: 20px;
}

.items {
    width: 100px;
}

.clickable {
    width: 30px;
}

.clickable i {
    opacity: 0;

}

.upload-file {
    color: rgb(110, 189, 75);
}

.remove-folder {
    color: rgb(207, 32, 48);
}

.content .file-container tr {
    height: 50px;
    border-bottom: 1px solid #999;

}

.content .file-container td {
    vertical-align: middle;
}

.content .file-container tr:hover,
.content .file-container tr:hover .clickable i {
    opacity: 1;
    transition: 0.5s;
    background: rgb(244, 244, 244);

}


.file-explorer {
    color: rgb(102, 175, 233);
}


.footer {
    position: absolute;
    bottom: 0;
    width: 95%;

    border-top: 1px solid #999999;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
}





