
.logo {
    position: absolute;
    top: -70px;
    left: 0;
}


.logout-menu li {
    display: inline-block;
    border-left: 1px solid #000;
    padding-left: 4px;
}

.logout-menu li:first-child {
    border: 0;
}

.logout-menu {
    position: absolute;
    right: 40px;
    top: -40px;
}

.path-manager {
    border-bottom: 2px solid #999;
    padding-bottom: 15px;

}

.current-position-menu li {
    display: inline-block;
    padding-right: 4px;
    font-size: 22px;
    font-weight: bold;
}

.current-position-menu {
    float: left;
}

.button-menu {
    float: right;
}

.path-manager:after {
    display: block;
    clear: both;
    content: "";

}

.name {
    width: 650px;
}

.file-container .item-icon {
    width: 65px;
    font-size: 20px;
    margin-right: 15px;
}

.file-icon{
    text-align: center;

}
.items {
    width: 100px;
}

.clickable {
    width: 60px;
}

.clickable i {
    opacity: 0;
}

.file-container .glyphicon-upload {
    color: rgb(110, 189, 75);
}

.file-container .glyphicon-download {
    color: rgb(102, 175, 233);
}

.file-container .glyphicon-remove-circle {
    color: rgb(207, 32, 48);
}

.table {
    height: 500px;
    overflow-x: auto;
}

.content .file-container tr {
    height: 50px;
    border-bottom: 1px solid #999;

}

.content {
    min-height: 500px;
}

.content .file-container td {
    vertical-align: middle;
}

.content .file-container tr:hover,
.content .file-container tr:hover .clickable i {
    opacity: 1;
    transition: 0.5s;
    background: rgb(244, 244, 244);
}


.footer {

    padding-top: 10px;
    border-top: 1px solid #999999;
    text-align: center;
    white-space: nowrap;
}

.input {

    padding: 0;
    left: -4px;
}






