body {

    font: 16px/18px Arial, Helvetic, sans-serif;
    color: #000;
    background: #eee;
    min-width: 800px;
}


/*Link properties*/
a {

    color: rgb(111, 180, 235);
    text-decoration: none;
}

a:hover {
    color: rgb(111, 180, 235);
    text-decoration: underline;
}

.form-link {

    margin-top: 18px;
    float: right;
}

/*Header properties*/
.header h1 {
    font-size: 26px;
    font-weight: bold;
    float: left;

}

.header .user-icon {

    font-size: 26px;

    position: absolute;
    right: 40px;
    top: 25px;
}

.header {

    border-bottom: 2px solid #999;
    margin-bottom: 20px;
    padding-bottom: 15px;

}

.header i {
    padding: 5px;
}

/*Content properties*/

.form-application {

    position: relative;
    margin: 100px auto 0;
    padding: 30px 40px 15px;

    background: #fff;
    box-sizing: border-box;
    width: 850px;

    border: 4px solid #999;
    border-radius: 15px;
    box-shadow: 0 0 30px grey;
}

.login-form {

    width: 700px;
}

.row-fields {

    width: 60%;
}

.row-label {

    float: left;
    width: 30%;
    margin-top: 15px;
    font-size: 18px;
    margin-left: 10px;
}

.input {
    border: 2px solid rgb(204, 204, 204);
    border-radius: 7px;
    padding: 0 10px;
}

.form-application .row-fields .input {

    width: 380px;
    height: 47px;

    margin-bottom: 15px;
}

.input:focus {

    border-color: rgb(55, 123, 181);
}

.row-fields {

    float: right;
}


.content .row {

    margin-bottom: 10px;
}

.navigation {

    float: right;
    width: 60%;
}


.warning {

    color: rgb(255, 0, 0);
    margin-left: 2px;

    margin-bottom: 10px;
}

/*Button properties*/

button {

    border-radius: 4px;
    background-color: rgb(55, 123, 181);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}


.btn {
    border-radius: 4px;
    background-color: rgb(55, 123, 181);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 15px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}


.form-application:after, .header:after {

    display: block;
    clear: both;
    content: "";
}

#upload-file {
    display: none;
}