body {
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #000;
    background: #eee;
    min-width: 800px;
}

/*Link properties*/
a {
    color: #6fb4eb;
    text-decoration: none;
}

a:hover {
    color: #6fb4eb;
    text-decoration: underline;
}

.form-link {
    float: right;
    margin-top: 10px;
}

/*Header properties*/
.header h1 {
    font-size: 24px;
    font-weight: bold;
}

.outer-menu .user-icon {
    font-size: 26px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.header {
    border-bottom: 2px solid #999;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.outer-menu i {
    padding: 5px;
}

/*Content properties*/
.application-box {
    position: relative;
    margin: 100px auto 0;
    padding: 20px 20px 15px;
    background: #fff;
    box-sizing: border-box;
    width: 900px;
    border: 4px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 30px #808080;
}

.login-box {
    width: 530px;
}

.row-fields {
    width: 60%;
    float: right;
}

.row-label {
    float: left;
    width: 30%;
    margin-top: 15px;
    font-size: 16px;
}

.input {
    border: 2px solid #ccc;
    border-radius: 7px;
    height: 35px;
}

.input::placeholder {
    padding-left: 10px;
}

.row-fields .input {
    width: 100%;
    margin-bottom: 5px;
}

.input:focus {
    border-color: #377bb5;
}

.warning {
    color: #ff0000;
    margin-left: 2px;
    width: 100%;
    margin-bottom: 15px;
}

/*Button properties*/
.btn {
    border-radius: 4px;
    background-color: #377bb5;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.header:after, .row:after {
    display: block;
    clear: both;
    content: "";
}

.upload-file {
    display: none;
}

.logo {
    position: absolute;
    top: -70px;
    left: 0;
}

.user-menu li {
    display: inline-block;
    border-left: 1px solid #000;
    padding-left: 4px;
}

.user-menu li:first-child {
    border: 0;
}

.user-menu {
    position: absolute;
    right: 40px;
    top: -40px;
}

.path-manager {
    border-bottom: 2px solid #999;
    padding-bottom: 15px;
}

.current-position-menu {
    padding-right: 4px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

.current-position-menu {
    float: left;
}

.button-menu {
    float: right;
}

.path-manager:after {
    display: block;
    clear: both;
    content: "";
}

.cell-name .cell-name-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
    padding: 12px 0;
}

.table .cell-icon {
    width: 65px;
    font-size: 20px;
    margin-right: 15px;
}

.table tr .file-icon {
    width: 40px;
    padding-left: 25px;
}

.cell-size {
    width: 100px;
}

.cell-actions {
    width: 60px;
}

.cell-actions i {
    opacity: 0;
}

.table .glyphicon-upload {
    color: #6ebd4b;
}

.table .glyphicon-download {
    color: #66afe9;
}

.table .glyphicon-remove-circle {
    color: #cf2030;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.file-container {
    height: 500px;
    overflow-y: scroll;
}

.content .table tr {
    border-bottom: 1px solid #999;
}

.content .table td {
    vertical-align: middle;
}

.content .table tr:hover {
    background: #f4f4f4;
    transition: 0.5s;
}

.content .table tr:hover .cell-actions i {
    opacity: 1;
    transition: 0.5s;
}

.footer {
    padding-top: 10px;
    border-top: 1px solid #999;
    text-align: center;
}


